@model VehicleRoutesBuildingWebApplication.Models.VehicleViewModels.AddVehicleViewModel
@{
    ViewData["Title"] = "Создание транспортных средств";
}

<h1>Настройки алгоритма</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Грузоподъемность</label>
        <input type="number" id="capacityBox" class="form-control" asp-for="Capacity" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Расход топлива</label>
        <input type="number" id="fuelConsumptionBox" class="form-control" asp-for="FuelConsumption" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Количество итераций</label>
        <input type="number" id="iterationsBox" class="form-control" asp-for="Iterations" />
    </div>
    <button type="submit" id="sendBtn" class="btn btn-primary" style="margin-top: 10px; width: 200px; color: black; background-color: white; border-color: black;">Изменить</button>

</form>