@model List<VehicleRoutesBuildingWebApplication.Models.Domain.Vehicle>
@{
    ViewData["Title"] = "Список транспортных средств";
}

<h1>Настройки</h1>

<table class="table">
    <thead>
        <tr>           
            <th>Грузоподъемность</th>
            <th>Расход топлива</th>
            <th>Количество итераций</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>   
                <td>@vehicle.Capacity</td>
                <td>@vehicle.FuelConsumption</td>
                <td>@vehicle.Iterations</td>
                <td> <a href="Vehicles/Add" style="color: white;">Изменить</a></td>
            </tr>
        }
    </tbody>
</table>